nav {
  background-color: bisque;
  height: 65px;
  font-weight: 600;

  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(62, 65, 65);
}

nav h2 {
  font-size: 25px;
}